.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  width: 4rem;
  margin: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todosBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  justify-items: center;
  margin-top: 2rem;
}

.todoBox {
  background: rgba(48, 55, 73, 0.8);
  padding: 1rem;
  color: white;
  margin: 0.5rem;
  width: 30%;
}

.completed {
  text-decoration: line-through;
  font-style: italic;
}

.arrow {
  width: 4rem;
}